@define-color background-color #08131a;
@define-color border-color     #ff60ce;
@define-color label            #ffd676;
@define-color image            #36ffd0;
@define-color progress         #ff8c3a;

