@define-color selected-text #ffd676;
@define-color text          #ebc6dd;
@define-color base          #120913;
@define-color border        #55315c;
@define-color foreground    #fff2fa;
@define-color background    #0c060e;
