:root {
  --primary: #d97b6c;
  --primary-light: #f8c1ae;
  --primary-dark: #8b483d;
  --secondary: #d26ea5;
  --secondary-light: #f7bbd7;
  --secondary-dark: #8a4368;
  --tertiary: #b09e5a;
  --tertiary-light: #e8dba0;
  --tertiary-dark: #6a5a32;

  --bg: #2a2321;
  --bg-alt: #231d1b;
  --shade-dark: #1b1614;

  --border: #cfa68e;
  --text: #fbeee9;
  --text-subtle: #e0cfc9;
  --muted: #b79f95;

  --hover: #58403e;
  --active: #73534f;
  --inactive: #3a2f2c;

  --success: #93b36b;
  --warning: #e7b356;
  --error: #d65a4b;
  --info: #9fb7d8;
  --hint: #b9a5c9;

  --pop-1: #ffb1a8;
  --pop-2: #ffcbe6;
  --pop-3: #ffe4ac;
  --pop-4: #ffd1ab;
}
