/* omarchy */

#custom-omarchy {
	padding: 0 10px;
}

/* theme switcher */

#custom-user {
	padding-right: 12px;
	font-weight: normal;
}

/* workspaces */

#custom-left_div.1,
#custom-right_div.1 {
	color: @workspaces;
}
#workspaces {
	padding: 0 1px;
	background-color: @workspaces;
}
#workspaces .active label {
	font-size: 16px;
	color: @accent;
}

/* window title */

#window {
	margin-left: 12px;
}
#window label {
	font-weight: normal;
}

/* taskbar */
#taskbar {
  background-color: transparent;
}

#taskbar button {
  padding: 0 5px;
  margin: 0 2px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
}

#taskbar button:first-child {
  margin-left: 10px;
}

#taskbar button:last-child {
  margin-right: 10px;
}

#taskbar button:hover,
#taskbar button.active {
  background-color: @hover-bg;
  transition: all 0.5s ease-out;
}
