@define-color background-color #1A1824;
@define-color border-color     #47436A;
@define-color label            #BDCBEF;
@define-color image            #6ADED7;
@define-color progress         #F4CE71;
