@define-color background-color #08131a;
@define-color border-color     #50a3b5;
@define-color label            #dbe6ff;
@define-color image            #dbe6ff;
@define-color progress         #1abcdd;

