@define-color selected-text #1abcdd;
@define-color text          #dbe6ff;
@define-color base          #08131a;
@define-color border        #50a3b5;
@define-color foreground    #dbe6ff;
@define-color background    #050c11;
