/* Frutiger Dark Aero - SwayOSD */

/* The Main Bubble (Studio Night with 80% opacity for better glass translucency) */
@define-color background-color rgba(19, 24, 19, 0.8);

/* The Frame (Aero Grass Green - High Gloss) */
@define-color border-color #5CFF47;

/* Text Label (Glow White) */
@define-color label #ECFFE0;

/* Icons (Glow White) */
@define-color image #ECFFE0;

/* The Level Bar (Electric Lemon for the "Toxic" citrus glow) */
@define-color progress #EAFF00;

/* Optional: If SwayOSD supports a background for the progress track */
@define-color progress-background rgba(21, 26, 21, 0.5); /* Dark Pine Chrome */

window {
    border-radius: 20px; /* Bubbly Aero shape */
    border-width: 2px;
}

#parameter {
    /* Highlighting the bar itself */
    border-radius: 10px;
}