/* Frutiger Dark Aero */

/* --- Variables --- */
@define-color selected-text #5CFF47;
@define-color text #ecffe0;
@define-color base rgba(27, 27, 27, 0.90);
@define-color border #5CFF47;
@define-color foreground #c0febd;
@define-color gloss-white rgba(255, 255, 255, 0.15);

.box-wrapper {
  background-image: linear-gradient(rgba(48, 48, 48, .5), rgba(26, 26, 26, .8), rgba(26, 26, 26, .95)) !important;
  border: 1px solid #686868 !important;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .12), inset 0 0 8px rgba(255, 255, 255, .1), 0 5px 5px rgba(0, 0, 0, .5) !important;
  border-radius: 16px !important;
  padding: 10px !important;
}

.search-container {
  background: none !important;
  background-color: transparent !important;
  padding: 0px !important;
}

.box {
  background: none !important;
  background-color: transparent !important;
}

.input {
  background: rgba(43, 43, 43, 0.5);
  border: 1px solid rgba(87, 250, 111, 0.5);
  border-radius: 10px;
  color: #ecffe0;
  margin-bottom: 10px;
  padding: 8px;
}

.item-box {
  border: 1px solid transparent;
  border-radius: 8px;
  transition: all 0.2s ease;
}

child:hover .item-box,
child:selected .item-box {
  background: linear-gradient(to bottom, #fff 0, #9efd96 3%, #32912a 30%, #185815 56%, #0b3112 56%, #1a5c1e 100%);
  border: 1px solid #9efd96;
}

.item-text,
.input {
  color: #ecffe0;
  text-shadow: 0px 0px 4px rgba(87, 250, 111, 0.5);
}

.item-subtext {
  color: #c0febd;
}