@import "../omarchy/current/theme/waybar.css";

/* --- Variables --- */
@define-color foreground #ECFFE0;
@define-color background rgba(19, 24, 19, 0.85);
@define-color glass-edge rgba(92, 255, 71, 0.4);
@define-color gloss-white rgba(255, 255, 255, 0.2);
@define-color acid-lime #D4FF00;
@define-color aero-green #5CFF47;

* {
  font-family: "Hack Nerd Font";
  font-size: 12px;
  font-weight: bold;
  color: @foreground;
  border: none;
  border-radius: 0;
  text-shadow: 0px 0px 6px rgba(212, 255, 0, 0.4);
}

window#waybar {
  background: transparent;
}

#backlight,
#custom-weather,
#mpris,
#window,
#tray,
#custom-cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-omarchy,
#clock,
#workspaces,
#taskbar,
#custom-update,
#custom-screenrecording-indicator,
#tray-expander {
  background: linear-gradient(to bottom, #758575 0%, rgba(19, 24, 19, 0.9) 49%, rgba(10, 13, 10, 1) 50%, rgba(19, 24, 19, 0.95) 100%);

  border: 1px solid @glass-edge;
  border-bottom: 1px solid rgba(92, 255, 71, 0.6);
  box-shadow: inset 0 1px 0 @gloss-white, 0 4px 8px rgba(0, 0, 0, 0.3);

  border-radius: 14px;
  padding: 0 12px;
  margin: 0 4px;
  transition: all 0.3s cubic-bezier(.55, 0, .1, 1);
}

#custom-update {
  padding: 0 15 0 12;
}

#pulseaudio {
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
}

#pulseaudio.output,
#pulseaudio.input,
#custom-audio {
  background: linear-gradient(to bottom, #758575 0%, rgba(19, 24, 19, 0.9) 49%, #0a0d0a 50%, rgba(19, 24, 19, 0.95) 100%);
  border: 1px solid @glass-edge;
  border-radius: 10px;
  margin: 0 2px;
  padding: 0 8px;
}

#tray-expander {
  padding: 0 8 0 12;
}

#workspaces button,
#taskbar button {
  background: rgba(212, 255, 0, 0);
  box-shadow: 0 0 0 rgba(212, 255, 0, 0);
  transition: all 0.3s cubic-bezier(.55, 0, .1, 1);
}

#workspaces button:hover,
#taskbar button:hover {
  background: rgba(212, 255, 0, 0.25);
  box-shadow: 0 0 12px rgba(212, 255, 0, 0.5);
  transition: all 0.3s cubic-bezier(.55, 0, .1, 1);
}

#backlight:hover,
#network:hover,
#pulseaudio.output:hover {
  background: rgba(212, 255, 0, 0.3);
  box-shadow: 0 0 30px rgba(212, 255, 0, 0.4);
  transition: all 0.3s cubic-bezier(.55, 0, .1, 1);
}

#workspaces button.active {
  color: @acid-lime;
  background: linear-gradient(to bottom, rgba(212, 255, 0, 0.2), transparent);
  border-bottom: 2px solid @acid-lime;
}

tooltip {
  background: #131813; /* Studio Night */
  border: 2px solid @acid-lime;
  border-radius: 12px;
  text-shadow: none;
}

#battery.warning {
  color: #FFD700; /* Warning Sun Yellow */
}

#battery.critical {
  color: #FF3333; /* Glossy Stoplight Red */
  text-shadow: 0 0 8px #FF3333;
}

#custom-audio {
  padding: 0 18px 0 12px;
}