#rosewater {
  color: #E8A598;
  /* Rosewater */
}

#flamingo {
  color: #EE867E;
  /* Flamingo */
}

#pink {
  color: #E574BC;
  /* Pink */
}

#mauve {
  color: #9171D8;
  /* Mauve */
}

#red {
  color: #E64553;
  /* Red */
}

#maroon {
  color: #BA333F;
  /* Maroon */
}

#peach {
  color: #FE812D;
  /* Peach */
}

#yellow {
  color: #F8B115;
  /* Yellow */
}

#green {
  color: #40A02B;
  /* Green */
}

#teal {
  color: #179299;
  /* Teal */
}

#sky {
  color: #04A5E5;
  /* Sky */
}

#sapphire {
  color: #209FB5;
  /* Sapphire */
}

#blue {
  color: #1E66F5;
  /* Blue */
}

#lavender {
  color: #7287FD;
  /* Lavender */
}

#text {
  color: #2C3043;
  /* Text */
}

#subtext1 {
  color: #4C4F69;
  /* Subtext1 */
}

#subtext0 {
  color: #6C6F85;
  /* Subtext0 */
}

#surface2 {
  color: #ACB0BE;
  /* Surface2 */
}

#surface1 {
  color: #CCD0DA;
  /* Surface1 */
}

#surface0 {
  color: #DCE0E8;
  /* Surface0 */
}

#base {
  color: #F1DFC0;
  /* Base */
}

#mantle {
  color: #E6D4B6;
  /* Mantle */
}

#crust {
  color: #DCC9A9;
  /* Crust */
}