@import "../omarchy/current/theme/waybar.css";

/*------------------
		layout
	------------------*/

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 12px;
  font-weight: bold;
  color: @foreground;
  border: none;
  border-radius: 0;
  min-height: 0;
}

/* main */
window#waybar {
  background: transparent;
  margin-top: 10px;
}

window#waybar.empty #window {
  background: transparent;
  color: transparent;
  padding: 0;
  margin-left: 5;
  transition: 0.5s;
}

tooltip {
  padding: 2px;
  border-radius: 8px;
}

.hidden {
  opacity: 0;
}

#backlight,
#custom-weather,
#mpris,
#window,
#tray,
#custom-cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  background-color: @background;
  min-width: 12px;
  border-radius: 8px;
  padding: 0 10px;
  margin: 0 0 0 5;
}

/*------------------
		modules-left
	------------------*/

/* workspaces */
#workspaces {
  background-color: @background;
  border-radius: 8px;
  margin-left: 5px;
  padding: 0 5 0 5;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

/* taskbar */
#taskbar {
  background-color: @background;
  border-radius: 8px;
  margin-left: 5px;
  padding: 0 5px;
}

#taskbar button {
  padding: 0 5px;
  margin: 0 2px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
}

#taskbar button:hover,
#taskbar button.active {
  background-color: @hover-bg;
  transition: all 0.5s ease-out;
}

/*--------------------
		modules-center
	--------------------*/

#clock {
  background-color: @background;
  border-radius: 8px;
  padding: 0 10 0 10;
}

#custom-update {
  font-size: 10px;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;

  padding: 0 11 0 10;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

/*-------------------
		modules-right
	-------------------*/

/* mpris */
mpris.empty {
  background: transparent;
}

#mpris {
  margin-right: 5px;
}

/* tray */
#tray-expander {
  background-color: @background;
  border-radius: 8px;
  padding: 0 0 0 10;
}

#custom-expand-icon {
  margin-right: 7px;
}

#tray {
  margin: 0;
}

#cpu,
#memory,
#temperature {
  margin: 0 5px;
  padding: 0;
}

#pulseaudio {
  padding: 0 3 0 0;
}
#custom-audio {
  margin: 0 10px 0 10px;
}
