@import "../omarchy/current/theme/waybar.css";

window#waybar {
  background: transparent;
  color: @foreground;
  border: none;
}

window#waybar > box {
  background: transparent;
  border: none;
}

tooltip,
tooltip > box {
  background-color: alpha(@background, 0.9);
  color: @foreground;
  border: none;
  border-radius: 10px;
  padding: 6px 8px;
}

tooltip label {
  color: @foreground;
}

* {
  background-color: transparent;
  color: @foreground;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
}

.modules-left,
.modules-center,
.modules-right {
  background-color: alpha(@background, 0.85);
  border-radius: 12px;
  padding: 0px 10px;
  outline: 1px solid alpha(black, 0.12);
  margin: 6px 10px;
}

.modules-left > *:not(:last-child),
.modules-center > *:not(:last-child),
.modules-right > *:not(:last-child) {
  margin-right: 8px;
}

#workspaces button.visible {
}
#workspaces button:not(.visible) {
  opacity: 0.6;
}

#workspaces button,
#workspaces button:hover,
#workspaces button:active,
#workspaces button.focused {
  background: transparent;
  box-shadow: none;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update,
#mpris,
#clock {
  min-width: 12px;
  padding-right: 8px;
}

#clock {
  padding-right: 0px;
}

#custom-expand-icon {
  margin-right: 6px;
}
#custom-update {
  font-size: 10px;
}
#clock {
  margin-left: 8.75px;
}
#custom-screenrecording-indicator {
  font-size: 10px;
  margin-left: 8.75px;
}
#custom-screenrecording-indicator.active {
  color: #a55555;
}
#mpris {
  margin-left: 5px;
}

.modules-left {
  margin-left: 14px;
  padding-left: 12px;
}

#custom-omarchy {
  padding-right: 4px;
  padding-left: 2px;
}

#custom-omarchy + #workspaces {
  margin-left: 6px;
}

.hidden {
  opacity: 0;
}

#taskbar {
  background-color: transparent;
}

#taskbar button {
  padding: 0 5px;
  margin: 0 2px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
}

#taskbar button:first-child {
  margin-left: 0;
}

#taskbar button:last-child {
  margin-right: 0;
}

#taskbar button:hover,
#taskbar button.active {
  background-color: transparent;
  transition: all 0.5s ease-out;
}
